@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f7f7f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body{
  min-height: 100%;
}

body {
  
   background:
    radial-gradient(circle at top, rgba(19, 167, 250, 0.35), transparent 24rem),
    linear-gradient(180deg, #071426 0%, #030712 100%);
 
 
  color: var(--foreground);
  font-family: Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}
